/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Encabezado */
header {
    background-color: hsl(202, 100%, 46%);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

/* Imagen del grupo */
.foto-grupo img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}
.group-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.group-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Menú de navegación */
.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 0;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
}

.menu ul li a:hover {
    background-color: hwb(207 14% 3%);
    border-radius: 5px;
}

/* Secciones de contenido */
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contenido {
    margin: 20px auto; /* Márgenes arriba/abajo y centrado */
    max-width: 800px; /* Ancho máximo de la sección */
    padding: 20px; /* Espaciado interno */
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: justify; /* Justificación del texto */
}

/* Pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
}
